* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: #fff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #020617;
  position: fixed;
  width: 100%;
  top: 0;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

/* HOME */
.home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  padding-top: 80px;
}

.home-img img {
  width: 250px;
  border-radius: 50%;
  border: 4px solid #38bdf8;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 25px;
}

/* SECTIONS */
.section {
  padding: 80px 50px;
}

.skills span {
  display: inline-block;
  background: #1e293b;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 20px;
}

.profile-pic {
  width: 250px;
  height: 250px;
  padding: 10px 15px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
  margin-bottom: 20px;

  transform: rotate(180deg);
}




